<div class="row">
    <div class="col-lg-10 col-md-10">
        <form class="form-inline">
            <div class="form-group">
                <label for="start_period" class="col-sm-1 col-lg-1 col-md-1 control-label">Дата уезда</label>
                <div class="col-sm-3 col-md-3 col-lg-3">
                    <div class="input-group datepicker dp2">
                        <input type="text" class="form-control" name="start_period" id="start_period"
                               value="<?php echo $this->startDate ?>">
                        <div class="input-group-addon">
                            <span class="glyphicon glyphicon-th"></span>
                        </div>
                    </div>
                </div>
                <label for="start_period" class="col-sm-1 col-lg-1 col-md-1 control-label">Дата приезда&nbsp;</label>
                <div class="col-sm-3 col-md-3 col-lg-3">
                    <div class="input-group datepicker dp2">
                        <input type="text" class="form-control" name="end_period" id="end_period"
                               value="<?php echo $this->endDate ?>">
                        <div class="input-group-addon">
                            <span class="glyphicon glyphicon-th"></span>
                        </div>
                    </div>
                </div>
                <button class="btn btn-sm btn-success col-sm-1 col-md-1 col-lg-2">Применить даты</button>
            </div>
        </form>
    </div>
    <div class="col-lg-2 col-md-2">
        <button class="btn btn-primary btn-sm"
                data-toggle="modal" data-target="#myModal">Добавить поездку
        </button>
    </div>
</div>
<br>
<div class="row">
<table class="table table-hover">
    <tr>
        <th>#</th>
        <th>Имя курьера</th>
        <th>Регион</th>
        <th>Дата отъезда</th>
        <th>Дата прибытия в регион</th>
    </tr>
    <?php
    $i = 1;
        foreach ($this->timetable as $item){
            ?>
            <tr>
                <td><?php echo $i; $i++ ?></td>
                <td><?php echo $item['courier'];?></td>
                <td><?php echo $item['region'];?></td>
                <td><?php echo $item['departure_date'];?></td>
                <td><?php echo $item['arrival_date'];?></td>
            </tr>
            <?php
        }
    ?>
</table>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Добавление курьера к поездкам</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="region" class="col-sm-2 control-label">Регион</label>
                        <div class="col-sm-10">
                            <select class="form-control" id="region" name="region">
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="date_depart" class="col-sm-2 control-label">Дата отъезда</label>
                        <div class="col-sm-10">
                            <div class="input-group datepicker dp1">
                                <input type="text" class="form-control" name="departure_date" id="depart_date">
                                <div class="input-group-addon">
                                    <span class="glyphicon glyphicon-th"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="courier" class="col-sm-2 control-label">Курьер</label>
                        <div class="col-sm-10">
                            <select class="form-control" id="courier" name="courier">
                            </select>
                        </div>
                    </div>
                </form>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <span id="tripinfo"></span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary save_button" id="save_trip_button">Save changes</button>
            </div>
        </div>
    </div>
</div>
<script src="<?php echo $this->basePath('js/today.js') ?>" type="text/javascript"></script>